* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* nav-section */
nav {
    max-width: 1040px;
    margin: 20px auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.l-img {
    width: 50px;
    height: auto;
}

.first-word {
    color: #FF42A5;
}

.logo-heading {
    font-size: 2rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icons ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

ul a {
    text-decoration: none;
    margin-right: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icon-1 {
    color: red;
    margin-left: 10px;
}

.nav-icon-2 {
    color: black;
    margin-left: 10px;
}

.gray {
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 10px;
    border-radius: 10px;
}

/* banner-section */

.banner-image {
    width: 450px;
    height: 450px;

}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    max-width: 1240px;
    gap: 100px;
}

.banner-container div {
    flex: 1;
}

.banner-text {
    background-image: url('./images/Group\ 14.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
}

.banner-title {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 50px;


}

.banner-head {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.list,
ul li {
    list-style: none;
    color: #534C64;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 20px;
    font-size: 0.9rem;
}


.banner-button {
    border-radius: 48px;
    background-color: #FF42A5;
    padding: 15px 30px;
    text-transform: uppercase;
    border: none;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.btn {
    background-color: #4EC5F7;
}

main {
    max-width: 1140px;
    margin: 70px auto;
}

.game-image {
    height: 300px;
    width: 250px;
}

.game-img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.game-description {
    color: #534C64;
    font-weight: 500;
    margin-top: 10px;
}

.game-title {
    color: #0B0223;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.game-span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-text {
    color: #534C64;
    text-align: center;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 0.9rem;

}







/* media query styles */
/* for mobile device */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        text-align: center;
        margin-top: 80px;


    }

    .icons ul,
    li {
        flex-direction: column;
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-image {
        width: 80%;
        margin: auto;
    }
}


/* for tablet */
@media screen and (min-width:576px) and (max-width:960px) {
    nav {
        flex-direction: column;
        text-align: center;
        margin-top: 80px;


    }

    .icons ul,
    li {
        flex-direction: column;
        margin-top: 30px;
    }

    .banner-container {
        flex-direction: column-reverse;
    }
}